doctype 
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title= title
        
    body
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header
                        h4.card-title Car Washer Registration 
                    form(method="POST" action='/register')
                        div.form-row
                            div.col.form-group
                                label First name 
                                input.form-control(name="firstname")
                            div.col.form-group
                                label Last name
                                input.form-control(name="lastname")
                            div.col.form-group
                                label User name
                                input.form-control(name="username" id="username")
                        div.form-row
                            div.col.form-group
                                label Gender
                                div 
                                    label.form-check.form-check-inline
                                        input.form-check-input(type="radio" name="gender" value="female")
                                        span.form-check-label Female 
                                    label.form-check.form-check-inline
                                    input.form-check-input(type="radio" name="gender" value="male")
                                    span.form-check-label Male
                            div.col.form-group
                                label Date of Birth
                                input.form-control(type="date" name="dob")
                        div.form-row
                            div.col.form-group
                                label NIN
                                input.form-control(name="nin")
                            div.col.form-group
                                label Phone number
                                input.form-control(name="phonenumber")
                            div.col.form-group
                                label Employee type 
                                select.form-control(name="employeetype")
                                    option(value="fulltime")  Full time
                                    option(value="parttime") Part time
                        div.form-row
                            div.col.form-group
                                button.btn.btn-primary.btn-block(onclick="move(), validate()") Register Car Washer
                                script.
                                    function move(){
                                        console.log("Yee , Move")
                                    }
                                    function validate(){
                                        let username=document.getElementById("username")
                                        if(username.value==""){
                                            console.log("Is empty")
                                        }
                                    }
                                