doctype html
html(lang="en")
  head
    title Login Form In Pug
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //-link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    //-link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles.css')
    
  body
    #main
     form(method="POST" action='/Registerworker')
       div.label Register Your Worker
       div.data
        input(type="text" placeholder="Full Name Of worker")
        div.data
        input(type="number" placeholder="Phone Number of the Worker")
        div.data
        input(type="number" placeholder="NIN")
        div.data
        input(type="datetime-local", name="")
        div.data
        select(name="employeetype")
          option(value="fulltime")  Full time
          option(value="parttime") Part time
        div.data
        select(name="Gender")
          option(value="Female")  Female
          option(value="Male") Male
       button(type="submit ") Register